extends ../shared/layout

block main-content
  div.row
    for thread in threads
      div(class="col-lg-1 col-offset-6 centered" style="margin-left: 50px; width: 400px;")  
        - let threadLink = '/post/' + thread.threadId + '/' + thread.title
        a(href=threadLink class="label label-info" style="font-size: 25px;")= thread.title
        br
        blockquote
          p= thread.content
          - let viewsStr = 'Views: ' + thread.views
          footer= viewsStr
          footer= thread.author.username
  footer
    h4 Pages
    ul.pagination
      for page in pages
        li
          - let pageQuery = '?page=' + page
          a(href=pageQuery)= page