extends ../shared/layout

block main-content
  if (nonFatalError)
      h1.nonFatalError= nonFatalError
  div(class="container")
    h2= thread.title
    div(class="well")= thread.content
    - let viewsStr = 'Views: ' + thread.views
    p.author(style="float:left; font-style: italic;")= viewsStr
    p.author(style="float:right;")= thread.author.username
    br
    if currentUser && currentUser.isAdmin()
      - let threadRoute = '/post/' + thread.threadId + '/' + thread.title
      form(method="post", action=threadRoute)
        button.btn-danger(type="submit") Delete
      - let updateRoute = threadRoute + '/edit'
      a.btn-warning(href=updateRoute) Edit
    h3 Answers
    br
    .answers
      for answer in answers
        div.well-sm= answer.content
        p.author= answer.author.username
        if currentUser && currentUser.isAdmin()
          - let deleteAnswerRoute = '/answer/' + answer.answerId + '/delete'
          form(method="post", action=deleteAnswerRoute)
            button.btn-danger(type="submit") Delete
    if currentUser
    - let addAnswerRoute = '/answer/' + thread.threadId + '/' + thread.title
      form(method='post' action=addAnswerRoute id="answerForm")
        div.form-group
          label(for="content") Answer:
            textarea.form-control(rows="5" name="content" id="content" onkeydown = "if (event.keyCode == 13) document.getElementById('answerForm').submit();")
            input(type="submit" id="addAnswer" hidden)